body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #38bdf8;
}

.section {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background: #0ea5e9;
}

.card {
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #334155;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
  border-color: #38bdf8;
}

pre {
  background: #0f172a;
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
  border: 1px solid #334155;
}